/*universal selector for entire page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* color for the background of entire page*/
body {
    background-color: #d9dcd6;
}
/* nav bar display*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*horiseon display/font-size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*color for seo part of horiseon header*/
.header h1 .seo {
    color: #d9dcd6;
}
/*positioning/ font size and font family for the list in the nav bar*/
.header header {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*style type and alignment for the list*/
.header header ul {
    list-style-type: none;
    text-align: center;
}
/*display for each individual item in list*/
.header header ul li {
    display: inline-block;
    margin-left: 25px;
    top: 1px;
}
/*text color/ decoration for links*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*font size of paragraphs*/
p {
    font-size: 16px;
}
/*style / positioning for the side article*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* float/margin for the images in the float-left class*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*float/margin for the image in the float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*structure of each article in the section containing the content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*structure of the section containing the benefit class*/
.benefits {
    margin-right: 20px;

    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*margin and text color for the first benefit article*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*margin and text color for the second benefit article*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*margin and text color for the third benefit article*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*text align/margin for the first benefit class heading*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*text align/margin for the second benefit class heading*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*text align/margin for the third benefit class heading*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*display/margin/width for the image in the first benefit class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*display/margin/width for the image in the second benefit class*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*display/margin/width for the image in the third benefit class*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*styling for content within the search-engine-optimazation class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*styling for the content within the online-repitation-management class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*styling for content within the social-media-marketing class*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*max height for the search-engine-optimization class image*/
.search-engine-optimization img {
    max-height: 200px;
}
/*max height for the online-reputation-management class image*/
.online-reputation-management img {
    max-height: 200px;
}
/*max height for the social-media-marketing class image*/
.social-media-marketing img {
    max-height: 200px;
}
/*margin and font size for heading in the search-engine-optimization class*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*font size and margin for the heading in the online-reputation-management class*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*margin and font size for the heading in the social-media-marketing class*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*styling for the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*font size for the footer heading*/
.footer h4 {
    font-size: 20px;
}

/*positioning for the list id*/
#list {
    position: absolute;
    left: 400px;
    bottom: 760px;
 }

